<div class="chatbox">
  <h3><%= @chat_room.name %></h3>
  <div class="window">
    <% @chat_room.chat_messages.each do |cm| %>
      <% css = "author-me" if cm.author == current_user %>
      <%= content_tag(:div, class: css) do %>
        <%= cm.content %>
      <% end %>
      <%= content_tag :div, class: "author-name" do %>
        <%= cm.author.email %>
      <% end %>
    <% end %>
  </div>
  <div class="new-message">
    <%= form_with model: @new_message do |f| %>
      <%= f.rich_text_area :content %>
      <%= f.hidden_field :chat_room_id %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>

