<p style="color: green"><%= notice %></p>

<%= render @strata_plan %>

<div>
  <%= link_to "Edit this strata plan", edit_strata_plan_path(@strata_plan) %> |
  <%= link_to "Back to strata plans", strata_plans_path %>

  <%= button_to "Destroy this strata plan", @strata_plan, method: :delete %>
</div>
